<div class="wrapper">

<form method="post" action="/diaries/<%= @diary.id %>">
  <input type="hidden" name="_method" value="patch" />
<p>
  <div><label for="mood">Mood</label></div>
  <input id="mood" type="text" name="diary[mood]" value="<%= @diary.mood %>" />
</p>
<p>
    <div><label for="day">Date</label></div>
    <input id="date" type="datetime-local" name="diary[date]" value="<%= @diary.date %>" />
  </p>

  <input type="submit" value="Update Entry" />
</form>

<p>
    <div><label for="mood">Mood</label></div>
    <input id="mood" type="text" name="cat[mood]" value="<%= @cat.mood %>" />
  </p>
  <p>
    <div><label for="behavior">Behavior</label></div>
    <input id="behavior" type="text" name="cat[behavior]" value="<%= @cat.behavior %>" />
  </p>
  </div>