<div class="wrapper">  
  <h1>Your diaries for <%=@cat.name%></h1>
  <div><a href="/diaries/<%= @diaries.cat_id %>"><%=@diaries.date%></a></div>

  <p><%flash[:error]%></p>
</div>



<%# <div><a href="/diaries/<%= @cat.id"><%=@diaries.date</div> %> 








