<div class="wrapper">

<h1>Entry for <%=@diary.cat.name%> on <%= @diary.date %></h1>

  <p><%= @diary.mood %></p>
  <p><%= @diary.behavior %></p>

<div><a href="/diaries/<%= @diary.id%>/edit"><button>Edit</button></a></div>    
<div>
  <form method="post" action="/diaries/<%= @diary.id %>/delete">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete" />
  </form>
</div>