<div class="wrapper">
  <%=flash[:error]%>
  <h1><%= @cat.name %></h1>
  <div>
    <p><a href="/cats/<%= @cat.id %>/diaries">Click here to see all of <%=@cat.name%>'s entries</a></p>
    <p><a href="/cats/<%= @cat.id %>/diaries/new"><button>New Diary</button></a></p>
  </div>
  <div>
    <h2>Did you rehome <%= @cat.name %>?</h2>
    <p><a href="/cats/<%= @cat.id %>/edit"><button>Update</button></a></p>
  </div>

</div>